@import './mixin.scss';

.avatar-medium {
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.avatar-large {
  border-radius: 5px;
  width: 120px;
  height: 120px;
}

.avatar-small {
  border-radius: 2px;
  width: 24px;
  height: 24px;
}

.avatar-tiny {
  border-radius: 2px;
  width: 15x;
  height: 15px;
}

.avatar-circle {
  border-radius: 50%;
  border: 1px solid lightgrey;
  width: 120px;
  height: 120px;
}

.info-block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  .info-entry.header {
    font-weight: bold;
  }

  .info-entry {
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: white;
    padding: 10px 10px;
    margin-bottom: -1px;
    @include shorten-text;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 15px;
  height: 15px;
}

.acn-cell {
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: white;
  padding: 10px 10px;
  margin-bottom: -1px;
}
.acn-cell.header {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #0366d6;
}
a:hover {
  text-decoration: none;
  color: #0366d6;
}
a:focus {
  text-decoration: none;
  color: #0366d6
}
a:visited {
  text-decoration: none;
  color: #0366d6
}

.short-mark {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  color: white;
  text-align: center;
}

.blue {
  background-color: lightskyblue;
}

.green {
  background-color: lightgreen;
}

.topic-cell {
  background-color: white;
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  padding: 5px;
  .detail {
    display: flex;
    flex-direction: row;
    .avatar {
    }
    .content {
      display: flex;
      flex-direction: column;
      padding-left: 5px;
      font-size: 10px;
      a {
        color: #00a1d6;
        text-decoration: none;
      }
    }
  }
  .title {
    display: block;
    font-size: 18px;
    color: #2c3e50;
    text-decoration: none;
  }
  ul {
    display: inline;
  }
  li {
    color: #7f8c8d;
    display: inline-block;
  }
  .last-reply {
    margin-left: 50px;
  }
  .view-state {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    li {
      margin-right: 5px;
    }
  }
}